<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" href="/CSS/joinForm.css">-->
<script src="/JS/memberList.js" th:inline="javascript"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Member Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- Custom styles -->
    <style>
        .container-fluid {
            margin-top: 3rem;
        }
    </style>
</head>
<body>

<!-- Navigation -->

<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Member Management</h1>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Login ID</th>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Search Address</th>
                    <th>Address</th>
                    <th>Update</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="memberManagementDto, status : ${memberManagementDto}">
                    <form th:action="@{/admin/editMember/{id}(id=${memberManagementDto.id})}" method="post">
                        <td>
                            <input type="text" id="id" name="id" class="form-control" th:value="${memberManagementDto.getId()}" readonly>
                        </td>
                        <td>
                            <input type="text" id="LoginId" name="LoginId" class="form-control" th:value="${memberManagementDto.getLoginId()}" readonly>
                        </td>
                        <td>
                            <input type="text" id="role" name="role" class="form-control" th:value="${memberManagementDto.getRole()}" readonly>
                        </td>
                        <td>
                            <input type="text" id="name" name="name" class="form-control" th:value="${memberManagementDto.getName()}" readonly>
                        </td>
                        <td>
                            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" th:value="${memberManagementDto.getPhoneNumber()}">
                        </td>
                        <td>
                            <input type="button" th:onclick="'sample6_execDaumPostcode(' + ${status.index} + ')'" value="Search Address">
                        </td>
                        <td>
                            <input type="text" th:id="'sample6_address_'+${status.index}" name="fullAddr" class="form-control" th:value="${memberManagementDto.getFullAddr()}">
                        </td>
                        <td>
                            <button class="btn btn-primary" type="submit">Update</button>
                        </td>

                        <<td>
                        <button class="btn btn-danger"
                                th:onclick="|location.href='@{/admin/deleteMember/{id}/(id=${memberManagementDto.id})}'|" type="button"> delete </button>
                            </form>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>










