<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/CSS/saveForm.css">

<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>후기 작성</h2>
    </div>
    <form action="/review/save" method="post">
        <div class="form-group">
            <label for="reviewWriter">Writer:</label>
            <input type="text" name="reviewWriter" id="reviewWriter" th:value="${#httpServletRequest.getUserPrincipal().getName()}" readonly>
        </div>
        <div class="form-group">
            <label for="reviewPass">Password:</label>
            <input type="text" name="reviewPass" id="reviewPass">
        </div>
        <div class="form-group">
            <label for="reviewTitle">Title:</label>
            <input type="text" name="reviewTitle" id="reviewTitle">
        </div>
        <div class="form-group">
            <label for="reviewContents">Contents:</label>
            <textarea name="reviewContents" id="reviewContents" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group">
            <label for="itemId">Item:</label>
            <select name="itemId" id="itemId">
                <option value="">Select an item</option>
                <option th:each="item:${items}" th:value="${item.itemId}" th:text="${item.itemName}"></option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit">글쓰기</button>
            <button th:onclick="|location.href='@{/review}'|"
                    type="button" >뒤로 가기</button>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    </form>
</div>
</body>
</html>


