* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Serif KR', serif;
}

.container {
    margin: 0;
    padding: 0 100px 0 100px;
    font-weight: bold;
    min-width: 1244px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    z-index: 2;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    top: 0;
    min-width: 800px;
    height: 80px;
    padding-bottom: 15px;
    background-color: white;
}

.logo {
    position: absolute;
    color: black;
    font-size: 30pt;
    font-weight: 900;
}

.logo a {
    color: black;
    text-decoration: 2px underline;
}

.search-box {
    border-bottom: 1px solid lightgray;
    text-align: right;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 180px;
}

.search-box form {
    display: flex;
    flex-direction: row;
    width: 180px;
}

.search-box form input[type="text"] {
    float: left;
    width: 124px;
    height: 20px;
    border: none;
}

.search-box form input[type="text"]:focus {
    outline: none;
}

.search-box form input[type="submit"] {
    width: 60px;
    border: 0;
}

.cart, .review-icon {
    margin: 14px 5px 0 5px;
    width: 25px;
    height: 25px;
}

.cart img[src], .review-icon img[src] {
    width: 25px;
}


.line {
    width: 100px;
    text-align: center;
    margin-top: 7px;
}

.login-btn {
    font-weight: normal;
    background-color: #ffffff;
    color: gray;
    margin: 15px 20px 0 10px;
    padding-top: 2px;
}


nav {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0 10px 0;
}

.nav-icon {
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav-icon li {
    display: inline-block;
    width: 230px;
    font-size: 15pt;
}

.nav-icon li a {
    color: rgb(54, 54, 54);
}

.nav-icon li a:hover {
    color: lightgray;
}



#wrapper {
    height:auto;
    min-height: 100%;
    padding-bottom:120px;
}

footer {
    min-width: 1244px;
    height: 120px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid lightgray;
    margin-bottom: 1%;
}

footer ul {
    margin:10px;
}

.company-info {
    margin-left: 10%;

}

.company-etc {
    margin-right: 10%;
}

.company-info li, .company-etc li {
    font-family: 'Gowun Batang', serif;
    font-weight: 700;
    font-size: 11px;
    color: gray;
}

/*04.19 로그인 성공 후 ui*/
.login-all-tab {
    position: relative;
    width: 95px;
    height: 80px;
    top: 0;
    font-size: 12pt;
    padding: 12px 5px 0 5px;
    margin-top: 35px;
}

#welcome-button {
    display: none;
}

label[for="welcome-button"] a:hover {
    cursor: pointer;
}

#welcome-button:checked ~ .login-user-tab  {
    z-index: 2;

    list-style: none;
    margin: 3px 0 0 0;
    padding: 10px 0 10px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.login-user-tab {
    display: none;
}

.login-user-tab li {

    border-bottom: 1px solid #e8e8e8;
}

.login-user-tab li:last-child {
    border: 0;
}

.login-user-tab li a {
    font-weight: normal;
    color: #282828;
}