.list-title {
    margin: 100px;
    text-align: center;
    font-size: 30pt;
}

.item-list {
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 0 15% 0 15%;
    text-align: center;
}

.item-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: left;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align : center;
    margin: 40px;
}

.item-image img {
    width: 300px;
    height: 300px;
}

.item-name {
    font-weight: bold;
    font-size: 14pt;
    color: black;
    margin: 0;
}

.item-price {
    font-weight: lighter;
    font-size: 13pt;
    color: rgb(88, 88, 88);
    margin-top: 3px;
}