<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/CSS/item.css">
<script src="/JS/item.js" th:inline="javascript"></script>
<th:block th:replace="fragments/head :: headFragment">
</th:block>
<body>
<div class="container" id="wrapper">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <th:block th:replace="fragments/navigation :: navigationFragment"></th:block>
    <section>
        <table class="image-table">
            <tr class="items" th:each="item : ${item}">
                <td class="item-mainImage">
                    <img th:src="@{/clothesImg/{itemType}/{imgName}.jpg(itemType=${item.itemType}, imgName=${item.imgName})}" alt="Image">
            </tr>
        </table>

        <ul class="item-info">
            <li class="item-name">
                <input type="text" id="name" name="name" class="form-control"
                       th:value="${item.itemName}" value="상품 A" readonly>
            </li>
            <li class="item-price">
                <label for="price">상품 가격</label>
                <input type="text" id="price" name="price" class="form-control"
                       th:value="${item.price}" value="10000" readonly>
            </li>
            <li class="item-store">
                <label for="store">판매처</label>
                <input type="text" id="store" name="store" class="form-control"
                       th:value="${item.itemStore}" value="abc" readonly>
            </li>

            <div class="item-size">
                <label>사이즈 선택</label>
                <select  onchange="order()" class="form-select">
                    <option value = "" disabled selected>==사이즈를 선택해주세요==</option>
                    <option th:each="size : ${itemSize}" th:value="${size.key}"
                            th:text="${size.value}">S</option>
                </select>
            </div>

            <div class="item-quantity">
                <div class="item-quantity-text">수량</div>
                <input type="number" name="count" id="count" value="1" min="1">
            </div>
            <div id="item-totalPrice-info">
            </div>
            <div class="item-totalPrice">
                <div class="item-totalPrice-text">총 결제 금액</div>
                <div class="totalPrice">0</div>
                <div class="Price">원</div>
            </div>

            <div class="cart-or-buy">
                <input type="button" value="장바구니" onclick="alert(`장바구니에 담겼습니다.`)">
                <input type="button" value="상품 구매">
            </div>
        </ul>
    </section>
    <div class="item-subImages">
        <img th:src="@{/clothesImg/{itemType}/{imgDetail1}.jpg(itemType=${item.itemType}, imgDetail1=${item.imgDetail1})}"
             alt="Image">
        <img th:src="@{/clothesImg/{itemType}/{imgDetail2}.jpg(itemType=${item.itemType}, imgDetail2=${item.imgDetail2})}"
             alt="Image">
        <img th:src="@{/clothesImg/{itemType}/{imgDetail3}.jpg(itemType=${item.itemType}, imgDetail3=${item.imgDetail3})}"
             alt="Image">
        <img class="item-size"             th:src="@{/clothesImg/{itemType}/{itemSize}.jpg(itemType=${item.itemType}, itemSize=${item.imgSize})}">
    </div>
</div>

<div id="searc  h-results">
    <!-- 검색 결과가 이곳에 표시됩니다 -->
</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<script src="/JS/search.js"></script>
</body>
</html>