<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/CSS/item.css">
<script src="/JS/item.js" th:inline="javascript"></script>
<th:block th:replace="fragments/head :: headFragment">
</th:block>
<body>
<div class="container" id="wrapper">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <th:block th:replace="fragments/navigation :: navigationFragment"></th:block>
    <section>
        <div class="image-table">
            <div class="item-mainImage" >
                <img name="file1" id="file1" th:src="|/item/images/${item.mainImg}|"/>
            </div>
        </div>

        <ul class="item-info">
            <li class="item-name">
                <input type="text" id="name" name="name" class="form-control"
                       th:value="${item.itemName}" value="상품 A" readonly>
            </li>
            <li class="item-price">
                <label for="price">가격</label>
                <input type="text" id="price" name="price" class="form-control"
                       th:value="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')}" value="10000" readonly>
            </li>
            <li class="item-store">
                <label for="store">판매처</label>
                <input type="text" id="store" name="store" class="form-control"
                       th:value="${item.itemStore}" value="abc" readonly>
            </li>

            <hr>

            <div class="cart-or-buy" sec:authorize="isAuthenticated()">
                <form id="cart-form" th:action="@{/cart/{itemId}(itemId=${item.itemId})}" method="post">
                    <div class="item-quantity-container">
                        <div class="item-quantity">수량
                            <input type="number" name="amount" id="amount" value="0" min="1" th:max="${stock}" onchange="calculatePrice()">
                        </div>
                    </div>
                    <input type="hidden" name="isGoingCart" id="isGoingCart" value="0">
                    <input type="hidden" name="username" th:value="${#authentication.name}">
                    <div class="item-cartOrBuy">
                        <button type="button" onclick="addToCart()">장바구니</button>
<!--                        아래 @빨간줄 오류아님-->
                        <input class="directBuy" type="submit" value="구매" th:formaction="@{/order/direct/{itemId}(itemId=${item.itemId})}" th:method="post" onclick="setQuantity()">
<!--                        <button type="button" onclick="directPurchase()">상품구매</button>-->
                    </div>


                    <div id="item-totalPrice-info"></div>

                    <div class="item-totalPrice">
                        <div class="item-totalPrice-text">총 결제 금액</div>
                        <div class="totalPrice">0</div>
                        <div class="Price">원</div>
                    </div>
                </form>
            </div>
        </ul>
    </section>

    <div class="row mt-4 justify-content-center align-items-center">
        <nav class="w-100">
            <div class="nav nav-tabs" id="item-tab" role="tablist">
                <a class="nav-item nav-link active" href="#item-desc" id="item-desc-tab" data-toggle="tab"
                   aria-selected="true">상세 정보</a>
                <a class="nav-item nav-link" href="#item-refund" id="item-refund-tab">
                    반품/환불 및 주의사항</a>
                <a class="nav-item nav-link" href="#item-comments" id="item-comments-tab" data-toggle="tab"
                   aria-selected="false">리뷰</a>
                <!--                <a class="nav-item nav-link" href="#item-rating" id="item-rating-tab" data-toggle="tab"-->
                <!--                   aria-selected="false">평가</a>-->
            </div>
        </nav>
    </div>

<div class="item-detail-info-container">
<div class="item-subImages">
    <img name="file2" id="file2" th:src="|/item/images/${item.getDetailImg1}|"/>
    <img name="file3" id="file3" th:src="|/item/images/${item.getDetailImg2}|"/>
    <img name="file4" id="file4" th:src="|/item/images/${item.getDetailImg3}|"/>
    <img name="file5" id="file5" class="item-size" th:src="|/item/images/${item.getSizeImg()}|"/>
</div>


    <div class="item-return-warp refund">
    <h4 class="return">반품/환불 정보</h4>
    <table class="return-info">
        <tr>
            <td>반품/교환 배송비</td>
            <td>(구매자 전액 부담)</td>
        </tr>
        <tr>
            <td>초기배송비 무료시 반품배송비 부과방법</td>
            <td>왕복(편도x2)</td>
        </tr>
        <tr>
            <td>반품/교환지 주소</td>
            <td>서울 구로구 디지털로34길 43 (코오롱싸이언스밸리1차)</td>
        </tr>
        <tr>
            <td>반품/교환 안내</td>
            <td>(구매자귀책) 8,000원/16,000원<br>초기배송비 무료시 반품배송비 부과방법 : 왕복(편도x2)</td>
        </tr>
    </table>
    <h4 class="buy">구매 시 주의사항</h4>
    <div class="table-wrapper">
        <table class="cautions">
            <tr>
                <td><span class="ico"></span>「전자상거래 등에서의 소비자보호에 관한 법률」에 의한 반품규정이 판매자가 지정한 반품조건보다 우선합니다.</td>
            </tr>
            <tr>
                <td><span class="ico"></span>미성년자가 물품을 구매하는 경우, 법정대리인이 동의하지 않으면 미성년자 본인 또는 법정대리인이 구매를 취소할 수 있습니다.</td>
            </tr>
            <tr>
                <td><span class="ico"></span>공산품, 전기용품 등 인증대상 상품을 구매하실 경우 '전기용품 및 생활용품 안전관리법' 등 관련 법률에 따라 허가 받은 상품인지
                    확인하시기 바랍니다.
                </td>
            </tr>
            <tr>
                <td><span class="ico"></span>Nomargin의 결제시스템을 이용하지 않고 판매자와 직접거래 하실 경우 상품을 받지 못하거나. 구매한 상품과 상이한 상품을 받는 등
                    피해가 발생 할 수 있으니 유의하시기 바랍니다.
                </td>
            </tr>
            <tr>
                <td><span class="ico"></span>등록된 판매물품과 내용은 판매자가 등록한 것으로 Nomargin(주)가 운영하는 Nomargin에 등록된 내용에 대하여 일체의 책임을 지지 않습니다.
                </td>
            </tr>
        </table>
    </div>
</div>

    <div class="item-comments">
        <h4 class="comments">상품 리뷰</h4>
        <ul class="review-info">
            <li class="review" th:each="review : ${reviewList}">
                <a class="review-click" th:href="@{/review/{id}(id=${review.id})}">
                    <div class="review-writer" th:text="${review.reviewWriter}"></div>
                    <div class="review-title" th:text="${review.reviewTitle}"></div>
                    <div class="review-contents" th:text="${review.reviewContents}">asdf</div>
                </a>
            </li>
        </ul>
    </div>

<div id="search-results">
    <!-- 검색 결과가 없는 경우 -->
    <div class="no-results" style="display:none;">검색 결과가 없습니다.</div>
    <!-- 검색 결과가 있는 경우 -->
    <div class="results" style="display:none;">
        <!-- 검색 결과를 표시할 영역 -->
    </div>
</div>
</div>
</div>

<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<script src="/JS/addToCart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/JS/tab.js"></script>
<script src="/JS/search_item.js"></script>
<script src="/JS/itemInfo.js"></script>
<script src="/JS/directPurchase.js"></script>
</body>
</html>
<!--test-->