<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/CSS/itemList.css">
<th:block th:replace="fragments/head :: headFragment">
</th:block>
<body>
<div class="container" id="'wrapper">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <th:block th:replace="fragments/navigation :: navigationFragment"></th:block>
    <div class="list-title" th:each="item : ${items}"></div>
    <div class="list-title" th:text="${type}">TOP</div>


    <section class="item-list">
        <div class="item-table">
            <div class="items" th:each="item : ${items}">
                <a href="product.html" th:href="@{|/form/itemList/${item.itemId}|}">
                <div class="item-image">
<!--                    <img th:src="@{/clothesImg/{itemType}/{imgName}.jpg(itemType=${item.itemType}, imgName=${item.imgName})}" alt="Image">-->
<!--                    <div th:if="${item.attachFile}">-->
<!--                        <img th:src="@{'/images/' + ${item.attachFile.storeFileName}}" width="100" height="100">-->
<!--                    </div>-->
<!--                    <div th:each="imageFile : ${item.imageFiles}">-->
<!--                        <img th:src="@{'/images/' + ${imageFile.storeFileName}}" width="100" height="100">-->
<!--                    </div>-->
                    <img th:src="@{/clothesImg/{itemType}/{imgName}.jpg(itemType=${item.itemType}, imgName=${item.imgName})}" onerror=this.style.display='none'>
                    <div th:if="${item.attachFile}">
                        <img th:src="@{'/images/' + ${item.attachFile.storeFileName}}" width="100" height="100">
                    </div>
                </div>
                <div class="item-name" th:text="${item.itemName}">
                    아이템이름자리
                </div>
                <div class="item-price" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}">
                    아이템 가격
                </div>
                </a>
            </div>
        </div>
    </section>


    <div id="search-results">
        <!-- 검색 결과가 이곳에 표시됩니다 -->
    </div>
</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<script src="/JS/search.js"></script>
</body>
</html>
