<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/CSS/main.css">
<script src="/JS/index.js" th:inline="javascript"></script>
<th:block th:replace="fragments/head :: headFragment">
</th:block>
<body>
<div class="container" id="'wrapper">
    <th:block th:replace="fragments/headerAndNav :: headerAndNavFragment"></th:block>
    <div class="main-slider"><img src="asset/016.jpg" alt=""></div>
    <section class="item-list">
        <article><img src="asset/045.jpg" alt=""></article>
        <article><img src="asset/045.jpg" alt=""></article>
        <article><img src="asset/045.jpg" alt=""></article>
    </section>
</div>
<th:block th:replace="fragments/footer :: footerFragment">
</th:block>
</body>
</html>