<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/CSS/main.css">
<script src="/JS/index.js" th:inline="javascript"></script>
<th:block th:replace="fragments/head :: headFragment">
</th:block>
<body>
<div class="container" id="'wrapper">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <th:block th:replace="fragments/navigation :: navigationFragment"></th:block>
    <div id="search-results">
        <!-- 검색 결과가 이곳에 표시됩니다 -->
    </div>
    <div class="main-slider-container">
        <div class="slider fade"><img src="asset/slide_0.png" alt="slide0" style="width:100%"></div>
        <div class="slider fade"><img src="asset/slide_1.jpg" alt="slide1" style="width:100%"></div>
        <div class="slider fade"><img src="asset/slide_2.jpg" alt="slide2" style="width:100%"></div>
        <div class="slider fade"><img src="asset/slide_3.jpg" alt="slide3" style="width:100%"></div>
    </div>
    <section class="item-list">
        <article><img src="clothesImg/Top/8.1.jpg" alt=""></article>
        <article><img src="clothesImg/Bottom/14.2.jpg" alt=""></article>
        <article><img src="clothesImg/Outer/22.1.jpg" alt=""></article>
    </section>

</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<script src="/JS/main.js"></script>
<script>
    function search(event) {
        event.preventDefault();

        const keyword = document.getElementById('search').value;

        const form = document.createElement('form');
        form.method = 'get';
        form.action = '/form/itemList/search';

        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'keyword';
        input.value = keyword;
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>