<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/CSS/cart.css">
<script src="/JS/cart.js" th:inline="javascript"></script>
<th:block th:replace="fragments/head :: headFragment"></th:block>

<div class="container" id="wrapper">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <section class="order-list-section">
    <h1 class="order-list-table" th:text="|${#authentication.principal.username} 의 장바구니|">Shopping Cart</h1>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Product Store</th>
            <th>Product Type</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem, status: ${cartItemList}">
            <td th:text="${status.count}"></td>
            <td th:text="${cartItem.getItem().getItemStore()}"></td>
            <td th:text="${cartItem.getItem().getItemType()}"></td>
            <td th:text="${cartItem.getItem().getItemName()}"></td>
            <td class="price" th:text="${#numbers.formatInteger(cartItem.getItem().getPrice(),0,'COMMA')} + ' 원'"></td>
            <td>
                <form th:action="@{/cart/update/{cartItemId}(cartItemId=${cartItem.getId()})}" method="post">
                    <input class="quantity" type="number" min="1" max="100000" name="amount" th:value="${cartItem.getCount()}">
                    <button class="on"  type="submit">수량 변경</button>
                </form>
            </td>
            <td class="subtotal" th:text="${#numbers.formatInteger(cartItem.getItem().getPrice() * cartItem.getCount(),0 ,'COMMA')} + ' 원'"></td>
            <td>
                <button class="on" th:onclick="|location.href='@{/cart/delete/{cartItemId}/(cartItemId=${cartItem.getId()})}'|" type="button">Delete</button>
            </td>
        </tr>
        </tbody>
        <tr>

            <td>

            </td>
            <td></td>
            <td colspan="8"></td>
        </tr>
        <tr>
            <div class="total-container">
            <td colspan="6"></td>
            <td class="total-result" th:text="| 총 금액: ${#numbers.formatInteger(totalPrice,0,'COMMA')} 원|">Total price</td>

            <td>
                <form class="bb" th:action="@{/cart/purchase}" method="post" id="cart-form">
                    <button class="mybutton" type="submit">구매하기</button>
                </form>
            </td>
            </div>
        </tr>
    </table>

    </section>
</div>
</body>
</html>

