section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.image-table {
    display: inline-block;
    width: 500px;
    margin-right: 100px;
}

.image-table .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-mainImage img {
    width: 90%;
    margin: 20px 0 20px 0;
}

.item-subImage {
    border-left: 1px solid lightgrey;
}

.item-subImage img {
    width: 100px;
}

.item-info {
    width: 540px;
    border-top : 2px solid grey;
    border-bottom: 1px solid lightgrey;
    margin: 0 0 20px 0;
    padding: 10px 0 30px 0;
}

.item-info li {
    margin: 0;
}

.item-name input {
    padding-top: 20px;
    font-weight: bold;
}

.item-info li input {
    width: 300px;
    height: 50px;
    font-size: 15pt;
    border: 0;
}

.item-info li input:focus {
    outline: none;
}

.item-info li label {
    font-size: 12pt;
}

.form-select {
    display: block;
    width: 100%;
    height: 30px;
}

.item-size {
    margin-bottom: 20px;
}

.item-size select {
    width: 200px;
}

.item-size select option[value=""][disabled] {
    display: none;
}

.form-control {
    margin: 0 0 30px 0;
}

/* JE-내가 추가한 부분 */
.item-quantity {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    left: 0;

}

.item-quantity-text {
    font-size: 15pt;
}

.item-quantity input[type="number"] {
    width: 50px;
    height: 40px;
    border:1px solid lightgray;

}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    height: 40px;
}

#order-box {
    margin: 10px 10px 10px 0;
    padding: 0 5px 0 10px;
    width: 500px;
    height: 80px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 2px rgb(226, 226, 226);
}

#order-box input[type="button"] {
    margin-left: 95%;
    width: 20px;
    height: 20px;
    padding: 1px;
    font-size: 10px;
    color: gray;
    border: none;
    border-radius: 3px;
}

#order-box input[type="button"]:hover {
    color: white;
    background-color: black;
}

#show-ItemList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

#show-ItemList input {
    display: flex;
    flex-direction: row;
    border : none;
    width: 50px;
}

#show-ItemList input:focus {
    outline: none;
}

#show-ItemList .form-itemName {
    flex-basis: 200px;
}

.form-itemName input {
    text-align: start;
}


#item-totalPrice-info {
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-basis: 200px;
}

.item-totalPrice-text {
    position: relative;
    margin-right: 10%;
}

.item-totalPrice {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:first baseline;
    height: 50px;
    margin-bottom: 20px;
}

.totalPrice {
    font-size: 30pt;
    margin-right: 10px;
}
/*JE-내가 추가한 부분 끝*/

.cart-or-buy {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-or-buy input {
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
}

.item-mainImage img {
    width: 90%;
    margin-bottom: 2rem; /* margin-top 대신 margin-bottom을 추가하여 아래쪽으로 정렬 */
}

.item-images {
    display: flex;
    flex-direction: row; /* 수평 방향으로 정렬 */
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.item-subImages {
    display: flex;
    flex-direction: column; /* 추가 */
    justify-content: center;
    align-items: center; /* 수정 */
    gap: 1rem;
    margin-right: 100px;
}

.item-subImages img {
    max-width: 786px;
    height: 800px;
}

.item-subImages img, .item-size {
    width: 786px;
    height: auto;
}

