<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <!--  container class div 태그 닫힌 거 확인 후 진행 -->
    <footer>
        <ul class="company-info">
            <li>Nomarjin company</li>
            <li>서울 구로구 디지털로 34길 코오롱 싸이언스밸리 1차 4층 8강의실</li>
            <li>권수민 김현덕 이정은 임경진 최재연</li>
            <li>02-869-8301</li>
            <li>000-00-00000</li>
        </ul>
        <ul class="company-etc">
            <li>한국정보기술연구원 기업솔루션 실무 프로젝트 개발을 위한 정보처리산업기사 과정평가형 과정 2기</li>
            <li><a href="https://kitri.step.or.kr/main.do">사이트 바로가기</a></li>
        </ul>
    </footer>
    <button id="topButton"><img src="/asset/upArrow.png" alt="up"></button>
    <script src="/JS/index.js"></script>
</th:block>
</html>