<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <!--  container class div 태그 닫힌 거 확인 후 진행 -->
<footer>
    <ul class="company-info">
        <li>Nomarjin company</li>
        <li>서울 구로구 디지털로 34길 코오롱 싸이언스밸리 1차 4층 8강의실 구석</li>
        <li>김씨 권씨 이씨 임씨 최씨</li>
        <li>02-869-8301</li>
        <li>000-00-00000</li>
    </ul>
    <ul class="company-etc">
        <li>healuhen@gmail.com</li>
        <li><a href="https://programmers.co.kr/">사이트 바로가기</a></li>
    </ul>
</footer>
</th:block>
</html>