<!-- 결제 작성 시에만 씀 (=Navigation 없는 레이아웃) -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
  <!--  container class 밑에서부터 include (꼭!!!)-->
    <div class="logo"><a href="/members/index">Nomarjin</a></div>
    <div class="search-box">
      <form action="/form/itemList/search" method="get">
        <input type="text" name="keyword" placeholder="Enter Here..." autocomplete="off">
        <input type="submit" value="Search">
      </form>
    </div>
    <a href="#" class="cart"><img src="/asset/shopping_cart.png" alt="cart"></a>
    <div class="line">

      <!--                    로그인안한 사람 보기-->
      <div sec:authorize="isAnonymous()">
        <a href="/members/login" class="login-btn">Login</a>
      </div>


      <!--                    로그인한 사람 전부(ADMIN, USER) -->
      <div sec:authorize="isAuthenticated()">
        <ul>
          <li><a th:text="${#authentication.principal.username} + '님 환영합니다.'" href=""></a></li>
          <li><a class="" href="/cart">Cart</a></li>
          <li><a class="" href="/orders">Order</a></li>
          <li><a class="" href="/members/logout">Log out</a></li>
        </ul>
      </div>

      <!--                    관리자 설정(ADMIN)-->
      <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
        <a class="nav-link" href="/admin/members">회원 관리</a>
        <a class="nav-link" href="/admin/">상품 관리</a>
      </li>

    </div>
  </header>
</html>